{
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/recommended", "@vue/typescript/recommended"], // the vue recommended will suggest proper coding for the templates
  "rules": {
    // add rules here
    "no-explicit-any": 1 // changed any to a warning rather than an error
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser", // essential for parsing the typescript
    "sourceType": "module",
    "ecmaVersion": 6
  }
}
