.DS_Store
TODO.md
vendor
.glide
.idea
.vscode
/distil
debug.test
debug
/node_modules
*.log
dist
distil.exe
package-lock.json
public/static
.history
/outputs/temp
/inputs
/datasets
outputs/
api/task/test_data/test_1-test_2 

